
<p class="sg-text">We're sorry to see you go and hope you found StackMatch useful.</p>

<p class="sg-text">If you've changed your mind and want to rejoin, please click below:</p>

<a href="/auth/github/signup" class="button" id="js-signup">Sign up with Github</a>