<container class="home-container is-horizontally-spaced">
  <div class="home-container__sm-intro">
    <h1 class="is-hidden">Stack Match</h1>
    <h2 class="sg-main-heading">Help FAC help you find your next amazing job</h2>
    <p class="sg-text">Stackmatch allows you to receive tailored job opportunities and get in touch with other FAC graduates.</p>
  </div>

  <div class="signup-btn">
    <a href="/auth/github/signup" class="sg-button" id="js-signup">Sign up</a>
  </div>

<div class="home-container__sm-signup is-horizontally-spaced">
  <div class="home-container__sm-preview">
     <img src="https://i.imgur.com/H1yKci8.png" alt="StackMatch Preview" class="home-container__img">
   </div>
  
  <div class="home-container__sm-signuptext">
    <h2 class="sg-main-heading">Signup with Github</h2>
    <p class="sg-text">StackMatch is an exclusive tool for members of the Founder & Coders Github organisation</p>
  </div>
</div>
   
  
</container>
