<h1 class="is-hidden">Stack Match</h1>
<h2>Help FAC help you find your next amazing job</h2>
<p>Stackmatch allows you to receive tailored job opportunities and get in touch with other FAC graduates.</p>

<h2>Signup with Github</h2>
<p>StackMatch is an exclusive tool for members of the Founder & Coders Github organisation</p>

<button id="js-signup">Sign up</button>