<h2 class="sg-main-heading">Sign up unsuccessful</h2>
<p class="sg-text">You are not registered as a member of the Founders and Coders Github organization. You must be a member in order to sign up and use StackMatch.</p>

<p class="sg-text">Once you've become a member on Github, you can try to sign up to StackMatch again below:</p>

<a href="/auth/github/signup" class="button" id="js-signup">Sign up with Github</a> 
