<div id="modal-details" class="modal">
  <div class="modal-background">
    {{> profile_myDetails }}
  </div>
</div>

<div id="modal-details" class="modal">
  <div class="modal-background">
    {{> profile_jobDetails }}
  </div>
</div>


{{> profile_viewMode }}