<div id="modal-details" class="modal">
  <div class="modal-background">
    {{> profile_myDetails }}
  </div>
</div>



<nav id="navigation">
  <a href="/allusers" class="" id="">ALL USERS</a>
  <a href="" class="" id="">MY PROFILE</a>
</nav>

<header>
  <h1>My Profile</h1>
  <div>
    <a href="/myprofile/:github_id" class="" id="">View Profile</a>
    <a href="/myprofile/:github_id" class="" id="">Edit Profile</a>
  </div>
</header>

<article>
  <section>


    <header>
      <h1>
        MY DETAILS
      </h1>
      <i class="icon icon-visible">eye icon</i>
    </header>
    <button id="open-modal-details">Edit Me</button>
    {{!-- github info --}}
    <div>
      {{#if user.github_avatar_url}}
      <img src="{{user.github_avatar_url}}" alt="my profile picture" class="profile-avatar"> {{/if}}
      <p>Name Name</p>
      <p>FAC13</p>


    </div>
    {{!-- links --}}
    <ul>
      <li>
        <a>
          <i class="icon icon-github"></i>github</a>
      </li>
      <li<a>
        <i class="icon icon-linkedin"></i>linkedin</a>
        </li>
        <li>
          <a>
            <i class="icon icon-twitter"></i>twitter</a>
        </li>

    </ul>

    {{!-- tech stack --}}
    <ul>
      <li>Javascript</li>
      <li>Node.js</li>
      <li>CSS3</li>
      <li>HTML5</li>
    </ul>
    <button>ADD</button>
    {{!-- contact --}}
    <a>
      <i class="icon icon-gitter"></i>Contact me on Gitter</a>

  </section>
  <section>

    <header>
      <h1>
        PROJECTS
      </h1>
      <i class="icon icon-visible">eye</i>
    </header>
    <button>Edit Me</button>
    <p>None Listed</p>

  </section>
  <section>

    <header>
      <h1>
        JOB SEARCH
      </h1>
      <i class="icon icon-private">lock</i>
    </header>
    <button>Edit Me</button>
    <h2>Status</h2>
    <p>Looking for work</p>

    <h2>Career Interests</h2>
    <li>
      <ul>Permanent Dev</ul>
      <ul>Freelance</ul>
    </li>

  </section>
</article>

<footer>
  <a href="/accountsettings" class="" id="">Account Settings</a>
</footer>