<div id="modal-details" class="modal">
  {{> profile_myDetails }}
</div>

<div id="modal-stack" class="modal">
  {{> profile_editTechStack }}
</div>

<div id="modal-job" class="modal">
  {{> profile_jobDetails }}
</div>

<div id="modal-stack" class="modal">
  {{> profile_editTechStack }}
</div>

<div id="modal-delete" class="modal">
  {{> profile_delete }}
</div>


{{> profile_viewMode }}