<header>
  <span>Stackmatch</span>
  <nav>
    <ul>
      {{#if user.session}}
      <a href="/allusers" class="" id="">All Users</a>
      <a href="/myprofile/{{user.github_id}}" class="" id="">My Profile</a>
      <li>
        <a href="/auth/github/logout" type="button" id="js-logout">Logout</a>
      </li> {{#if user.github_avatar_url}}
      <img src="{{user.github_avatar_url}}" alt="my profile picture" class="nav-avatar"> {{/if}}{{/if}}
    </ul>
  </nav>
</header>