<div class="modal-background">
  <h1 class="sg-heading">My Details</h1>
  <form method="POST" action="/savePersonalDetails" novalidate>
    <span class="sg-subtext">* Required</span>
    <br>
    <label for="full_name" class="sg-title">Full Name *
      <br>
      <input class="sg-input-text" id="full_name" name="full_name" type="text" {{#if user.full_name}} value="{{user.full_name}}"
        {{/if}}/>
    </label>
    <br>
    <label for="github_handle" class="sg-title">GitHub/Gitter Username *
      <br>
      <input class="sg-input-text" id="github_handle" name="github_handle" type="text" {{#if user.github_handle}} value="{{user.github_handle}}"
        {{/if}}/>
    </label>
    <br>
    <label for="github_avatar_url" class="sg-title">Avatar URL link
      <br>
      <input class="sg-input-text" id="github_avatar_url" name="github_avatar_url" type="text" {{#if user.github_avatar_url}} value="{{user.github_avatar_url}}"
        {{/if}}/>
    </label>
    <br>
    <label for="fac_campus" class="sg-title">FAC Location *
      <br>
      <div class="sg-dropdown">
        <select id="fac_campus" name="fac_campus">
          <option value="London" {{#compare user.years_experience "===" 'London'}}selected{{/compare}}>London</option>
          <option value="Nazareth" {{#compare user.years_experience "===" 'Nazareth'}}selected{{/compare}}>Nazareth</option>
          <option value="Gaza" {{#compare user.years_experience "===" 'Gaza'}}selected{{/compare}}>Gaza</option>
        </select>
      </div>
    </label>
    <br>
    <label for="fac_number" class="sg-title">FAC Cohort Number *
      <br>
      <input id="fac_number" name="fac_number" type="number" class="sg-input-text" />
    </label>
    <br>
    <label for="linkedin_url" class="sg-title">LinkedIn URL
      <br>
      <input class="sg-input-text" id="linkedin_url" name="linkedin_url" type="text" />
    </label>
    <br>
    <label for="twitter_handle" class="sg-title">Twitter Handle
      <br>
      <input class="sg-input-text" id="twitter_handle" name="twitter_handle" type="text" />
    </label>
    <br>
    <button class="sg-button">Submit</button>
  </form>
  <button class="btn-close-modal sg-close">x</button>
</div>