<div class="modal-background">
  <h1 class="sg-heading">Are you sure you want to delete your profile?</h1>
  <form method="DELETE" action='/deleteAccount' novalidate>
    <label for="github_handle" class="sg-title">
      Please Enter Your GitHub Username To Confirm
      <input type="text" name="github_handle" id="github_handle" data-githubId="{{user.github_handle}}" >
    </label>
    <button>Submit 👋</button>
  </form>
  <button class="btn-close-modal">I Want To Stay</button>
</div>