<h1 class="sg-heading">Job Status</h1>
<form method="POST" action="/saveDetails" novalidate>
  <span class="sg-subtext">* Required</span>
  <br>
  <label for="job_view_pref" class="sg-title">Preferred
    <br>
    <input type="radio" id="job_pref_public" name="job_view_pref" value="public">
    <label for="job_pref_public">Public</label>

    <input type="radio" id="job_pref_private" name="job_view_pref" value="private" checked>
    <label for="job_pref_private">Private</label>
  </label>
  <br>
  <label for="job_search_status" class="sg-title">Job Search Status *
    <br>
    <select id="job_search_status" name="job_search_status">
      <option value="green">Currently Looking</option>
      <option value="yellow">Maybe interested</option>
      <option value="red">Not interested</option>
    </select>
  </label>
  <br>
  <label for="years_experience" class="sg-title">Years experience
    <br>
    <select id="years_experience" name="years_experience">
      <option value="{min_years_exp: 0, max_years_exp: 2}">Less than two years</option>
      <option value="{min_years_exp: 2, max_years_exp: 5}">Two to five years</option>
      <option value="{min_years_exp: 5, max_years_exp: 100}">More than five years</option>
    </select>
  </label>
  <br>
  <label for="github_cv_url" class="sg-title">GitHub CV URL
    <br>
    <input id="github_cv_url" name="github_cv_url" type="text" />
  </label>
  <br>
  <label for="cv_url" class="sg-title">URL to CV (pdf)
    <br>
    <input id="cv_url" name="cv_url" type="text" />
  </label>
  <br>
  <button>Submit</button>
</form>