<div class="modal-background">
  <h1 class="sg-heading">Tech Stack</h1>
  <label for="tech_stack" class="sg-title">Tech Name
      <input id="stack__input" name="tech_stack" type="text" value="" />
      <button id="stack__addbutton">Add</button>
      <span id="stack__validation" class="sg-subtext is-hidden">Already entered this tech</span>
    </label>
  <form method="POST" action="/saveTechStack" novalidate>
    <ul class="remove-list-style" id="stack__list">
    {{#if user.tech_stack}}
      {{#each}}
      <li>
        <input type="hidden" name="tech" value="{{this}}">
        <div>{{this}}</div>
        <button>Remove</button>
      </li>
      {{/each}}
    {{/if}}
    </ul>
    <button>Submit</button>
  </form>
  <button class="btn-close-modal">Close without saving</button>
</div>
{{!--
<li>
  <input type="hidden" name="tech" value=${tech}>
  <div>${tech}</div>
  <buttonnp>Remove</buttonnp>
</li> --}}