<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A Founders and Coders Jobs Platform">
    <meta name="keywords" content="Express, Handlebars, Testing, Application ">
    <meta name="author" content="helenzhou6, vlbee, LawEKS, tdoran">
    <link rel="stylesheet" href="/css/style.css">
    <title>StackMatch</title>
</head>

<body>
    <header>
        <span>Stackmatch</span>
        <nav>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>

    <footer>
        <h2>Copyright StackMatch</h2>
    </footer>

    <script src="/dom/index.js"></script> {{#if activePage.home}}
    <script src="/dom/home.js"></script> {{/if}}
</body>

</html>